@model codigonaveia.services.cursos.WebApplication.Models.CursosViewModel
@{
    ViewData["Title"] = "Alterar";
}

<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alterar dados</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form asp-action="Alterar" asp-controller="Cursos" method="post">
            <input type="hidden" asp-for="Id" />
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Data:</label>
            <input type="date" class="form-control" asp-for="DataRegistro">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Titulo:</label>
            <input type="text" class="form-control" asp-for="Titulo">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Descrição:</label>
            <textarea class="form-control" asp-for="Descricao"></textarea>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Valor:</label>
            <input type="text" class="form-control" asp-for="Valor">
          </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Alterar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>  
            </div>
        </form>
      </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>