@model codigonaveia.services.cursos.WebApplication.Models.CursosViewModel

@{
    ViewData["Title"] = "Detalhe";
}

<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalhes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <input type="hidden" asp-for="Id" />
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Data:</label>
            <label>@Model.DataRegistro</label>            
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Titulo:</label>
            <label>@Model.Titulo</label>            
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Descrição:</label>
            <label>@Model.Descricao</label>            
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Valor:</label>
            <label>@Model.Valor</label>
          </div>
            <div class="mb-3">
                @*<button type="submit" class="btn btn-primary">Alterar</button>*@
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>  
            </div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>

