@model codigonaveia.services.cursos.WebApplication.Models.CursosViewModel

@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <label>Cadastro de Cursos</label>
            </div>
            <div class="card-body">
                <form asp-action="Registrar" asp-controller="Cursos" method="post">
                    <div class="mb=3">
                        <label>Data Resgistro</label>
                        <input type="date" class="form-control" asp-for="DataRegistro" />
                    </div>
                    <div class="mb=3">
                        <label>Titulo</label>
                        <input type="text" class="form-control" asp-for="Titulo" />
                    </div>
                    <div class="mb=3">
                        <label>Descrição</label>
                        <input type="text" class="form-control" asp-for="Descricao" />
                    </div>
                    <div class="mb=3">
                        <label>Valor do Curso</label>
                        <input type="text" class="form-control" asp-for="Valor" />
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">Cadastrar Curso</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

